@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
q:before, q:after { content:''; }

/* FIN DEL RESET */

header{
	width: 100%;
	height: 68px;
	border:3px solid #430A73;
	font: bold 28px Verdana, Geneva, sans-serif;
}

nav{
	width: 100%;
	height: 68px;
	border: #430A73;
}

nav ul {
	list-style: none;
}

nav > ul {
	display: table;
	width: 100%;
	background:#FFFFFF;
	position: relative;
}

nav > ul > li:hover{
	background: #430A73;
}

nav > ul li {
	display: table-cell;
}

/*Submenu*/
nav > ul > li:hover > ul {
	display:block;
	height: 100%;
}

nav > ul > li > ul{
	position: absolute;
	background: #430A73;
	left:0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a{
	color: #188A17;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

nav > ul > li > ul > li a:hover{
	background:#FDFDFD;
}

/* HASTA AQUI LLEGA EL MENU */

section{
	width: 91%;
	padding-top: 80px;
}

h1{
	font: bold 26px Verdana, Geneva, sans-serif;
	color: #188A17;
	text-align: center;
}

h2{
	font: bold 17px Verdana, Geneva, sans-serif;
	color:#000000;
	text-align: center;
	margin-top: 20px;
}

figure{
	float: left;
}

figure img{
	padding: 5px;
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
	-moz-transition:-moz-transform 0.3s ease-in-out 0.1s;

}

figure img:hover{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
}

#myCarousel {
	background-color: #fff7cc;
}

#myCarousel2 {
	background-color: #dadada;
}

ul>li>a {
	background: #DAA520;
	font-weight: bold;
	height: 50px;
}
ul>li>a:hover {
	background: #DAA520;
}


.hide-bullets {
    list-style: circle;
    margin-left: -40px;
    margin-top: 20%;
}

.thumbnail {
    padding: 0;
    height:100px;
    margin: 0px 10px
}

.col-sm-3 {
	margin-top:10%
}

#slider {
	margin-top: 20%;
}

.{
	background: #ead4d7;
}

#Titulo{
	margin-top: -9px
	
}

#subtituloproductos{
	margin-top: 5%;
	margin-left: 2%;
	text-align: left;
}

